*.py-r
ppd/hpcups/*.ppd
*.lo

Dat2drv
*.o
Makefile
base/__pycache__/
config.log
config.status
cups_drv.inc-e
fax/filters/pstotiff-r
hp-uiscan.desktop
hplip-install_Fri-13-Feb-2026_20:45:26.log
hplip-systray.desktop
hplip.conf
hplip.desktop
hplip.list
libtool
ppd/hpijs/
prnt/drv/hpcups.drv
prnt/drv/hpijs.drv
prnt/filters/hpps-r
prnt/hpcups/libImageProcessor.so
prnt/hpijs/auto-include.h
prnt/hpijs/platform.h
*.ppd
.dirstamp
.deps
*.la
.libs

*.ppd.gz
